{% extends "base.html" %}
{% block title %}{% endblock %}
{% block container %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">NAME</th>
            <th scope="col" class="col-7">DESCRIPTION</th>
            <th scope="col" class="col-2 center">ACTION</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
        {%  for course in courses %}
        <tr class="d-flex">
            <th scope="row" class="col-1">{{ forloop.counter }}

                </th>
            <td class="col-2">
                {{ course.title }}
            </td>

            <td class="col-7">
                {{ course.overview }}

            </td>
            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a href="#"
                   class="btn btn-danger rounded-0 text-light m-1">View</a>
                <a href="#"
                   class="btn btn-info rounded-0 text-light m-1">Edit</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
    {% if request.user.is_superuser %}

          <a class="btn btn-danger rounded-0 text-light m-1"aria-current="page" href="{% url 'courses:create-course' %}">Create new course</a>
    {% endif %}

</div>
{% endblock%}