{% extends "base.html" %}
{% block title %}{% endblock %}
{% block container %}
    <h3>Subjects:</h3>
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">SUBJECT</th>
            <th scope="col" class="col-2 center">ACTION</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
        {%  for subject in subjects %}
        <tr class="d-flex">
            <th scope="row" class="col-1">{{ forloop.counter }}

                </th>
            <td class="col-2">
                {{ subject.title }}
            </td>

            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                <a href="{% url 'courses:view-subject' subject_id=subject.id %}"
                   class="btn btn-danger rounded-0 text-light m-1">View courses in subject</a>
                    {% if request.user.is_superuser %}
                <a href="{% url 'courses:edit-subject' subject.id %}"
                   class="btn btn-info rounded-0 text-light m-1">Change name</a>

                        <a href="{% url 'courses:delete-subject' subject.id %}"
                   class="btn btn-info rounded-0 text-light m-1">Delete</a>
                 {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
    {% if request.user.is_superuser %}

          <a class="btn btn-danger rounded-0 text-light m-1"aria-current="page" href="{% url 'courses:create-subject' %}">Create new subject</a>
    {% endif %}
{% endblock%}